.box { 
    width: 200px;
    height: 200px;
    background-color: red;
    margin-right: 20px;
    margin: auto;
    border-radius: 0.3cm;
}
.box-container {
    display: flex;
    margin-top: 200px;
}
.button {
    margin: auto;
}
iframe {
    width: 200px;
    height: 200px;
}
.navigation { 
    display: inline-block;
    vertical-align: middle;
}
.component {
    display: inline-block;
    margin-right: 10px;
}
.logo {
    width: 60px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
a {
    text-decoration: none;
}